#map {
  height: 100%;
}

html, body{
  height: 100%;
  margin: 0;
  padding: 0;
}

#menu {
  position: fixed;
  height: 100%;
  z-index: 10000;
  display: flex;
  justify-self: center;
  align-self: center;
  flex-direction: column;
  visibility: hidden;
}

#button {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 10001;
}